@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");

:root {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  width: 100%;

  --primary-color: #000000;
  --secondary-color: #F8DE6F;
  --bg-color: #ffffff;
  --blog-color: #343148;
  --primary-font-size: 20px;

  --font-family: "Inter", sans-serif;
}

html,
body,
#root {
  height: 100%;
  background-color: var(--bg-color);
  margin: 0;
}
body {
  font-family: var(--font-family);
}
